*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
writable/database.db
/writable
/writable/logs
*.log
.env
.idea/dataSources.xml
.gitignore
.gitignore
.gitignore
.idea/modules.xml
.idea/php.xml
.idea/laravel-idea.xml
.idea/phpunit.xml
.gitignore
identifier.sqlite
.idea/sqldialects.xml
.idea/vcs.xml
.idea/YAS.iml
writable/session/ci_session9463e7bdbf881c5b9bad6ede1487937a
writable/session/ci_session9463e7bdbf881c5b9bad6ede1487937a
app/Config/Database.php
.idea/data_source_mapping.xml
*.xml
